@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box !important;
}

html,
body {
  background: #ddd;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

#root {
  background: #ddd;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 12px;
  padding-bottom: 72px;
  margin: 0;
  box-sizing: border-box !important;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: stretch;
  justify-content: flex-start;
}

.scrollWrap::-webkit-scrollbar {
  display: block !important;
  width: 3px;
  height: 3px;
  background: transparent;
}

.scrollWrap::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 20px;
  border: 0px;
}

.inputWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  position: relative;
  border: 0;
}

.inputWrap label {
  font-size: 16px;
  font-weight: 400;
  color: #999;
  transition: all 0.3s;
  position: absolute;
  top: 28px;
  left: 6px;
  cursor: text;
}

.inputWrap label.top {
  font-size: 14px;
  top: 0;
  left: 0;
  font-weight: 700;
  cursor: default;
}

.inputWrap input {
  border: 0;
  outline: 0;
  margin: 0;
  margin-top: 22px;
  border-bottom: 1px solid #ccc;
  padding: 6px 6px;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  transition: all 0.3s;
  width: 100%;
}

.inputWrap.active label {
  color: #2196f3;
}

.inputWrap.active input {
  border-color: #2196f3;
}

.b1,
.b2 {
  border: 0;
  margin: 6px 0px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 4px;
}

.b1 {
  background: #3f51b5;
  color: white;
  font-size: 16px;
  padding: 8px 20px;
}

.b1.block {
  display: block;
  /* margin-top: auto; */
  width: 100%;
}

.b1:hover,
.b1:focus {
  background: #2196f3;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.b2 {
  background: transparent;
  color: #f44336;
  font-size: 14px;
  padding: 4px 8px;
  border: 1px solid #f44336;
}

.b2:hover,
.b2:focus {
  background: #f44336;
  color: white;
}

.dynamicFormWrap {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 12px;
  background: #fff;
  padding: 12px 16px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  min-width: 320px;
  max-width: 400px;
}

.dynamicFormWrap h1 {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  color: #666;
  font-weight: normal;
  font-size: 24px;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dynamicFormWrap h1 .editButton {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 28px;
  width: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.dynamicFormWrap h1 .editButton:hover {
  color: #2196f3;
  border-color: #2196f3;
}

.dynamicFormWrap .fieldsWrap {
  flex: 1 1 auto;
  overflow: auto;
  padding: 6px 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 12px;
  border: 0;
  border-top: 1px solid #eee;
}

.dynamicTableWrap {
  width: 100%;
  flex: 1 1 40%;
  border: 0;
  background: #333;
  padding: 6px 3px 6px 6px;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.dynamicTableWrap.small {
  flex-basis: 25%;
}

.dynamicTableWrap.extraPadding {
  padding-right: 6px;
}

.dynamicTableInnerWrap {
  width: 100%;
  flex: 1 1 auto;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.noDataText {
  color: #fff;
  font-size: 16px;
  margin: auto;
}

.dataDisplay {
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  text-align: left;
  position: relative;
}

.dataDisplay th,
.dataDisplay td {
  text-align: left;
  padding: 8px 16px;
  font-size: 14px;
  border: 0;
  margin: 0;
  text-transform: capitalize;
  white-space: nowrap;
}

.dataDisplay th {
  padding: 14px 16px;
  padding-top: 8px;
  font-size: 16px;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
}

.dataDisplay td {
  font-family: monospace;
}

.dataDisplay tbody tr {
  border-bottom: 1px solid #ddd !important;
  background: #fff;
}

.dataDisplay tr:hover {
  background: #eee;
}

.dynamicFormEditWrap {
  flex: 1 1 75%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 12px;
  background: #fff;
  padding: 12px 16px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.dynamicFormEditWrap h1 {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  color: #666;
  font-weight: normal;
  font-size: 24px;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dynamicFormEditWrap h1 .closeButton {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 28px;
  width: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.dynamicFormEditWrap h1 .closeButton:hover {
  color: #f44336;
  border-color: #f44336;
}

.dynamicFormEditWrap .fieldsWrap {
  flex: 1 1 auto;
  overflow: auto;
  padding: 12px 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 12px;
  border: 0;
  border-top: 1px solid #eee;
}

.dynamicFormEditWrap .fieldsWrap .fieldWrap {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 12px 0px;
  padding-top: 24px;
  position: relative;
}

.dynamicFormEditWrap .fieldsWrap .fieldWrap:last-child {
  border-bottom: 0;
}

.dynamicFormEditWrap .fieldsWrap .fieldWrap .fieldKeyWrap {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  font-weight: 700;
  background-color: #dfdfdf;
  color: #666;
  padding: 1px 8px;
  border-radius: 84px;
  align-self: flex-start;
}

.dynamicFormEditWrap .fieldsWrap .fieldWrap .deleteButton {
  cursor: pointer;
  font-size: 24px;
  border-radius: 4px;
  border: 1px solid #f44336;
  height: 32px;
  width: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  color: #f44336;
}

.dynamicFormEditWrap .fieldsWrap .fieldWrap .deleteButton:hover {
  color: #fff;
  background-color: #f44336;
}

.dynamicFormEditWrap .addFieldWrap {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  padding: 12px 0px;
}

.dynamicFormEditWrap .addFieldWrap .addButton {
  cursor: pointer;
  font-size: 24px;
  border-radius: 4px;
  border: 1px solid #4caf50;
  height: 32px;
  width: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  color: #4caf50;
  visibility: visible;
}

.dynamicFormEditWrap .addFieldWrap .addButton.disabled {
  cursor: not-allowed;
  color: #999;
  border-color: #999;
}
.dynamicFormEditWrap .addFieldWrap .addButton.disabled:hover {
  color: #999;
  background-color: transparent;
}

.dynamicFormEditWrap .addFieldWrap .addButton:hover {
  color: #fff;
  background-color: #4caf50;
}

.dynamicFormEditWrap .addFieldWrap .typeButtonsWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.dynamicFormEditWrap .addFieldWrap .typeButtonsWrap .typeButton {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid #2196f3;
  height: 24px;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  color: #2196f3;
}

.dynamicFormEditWrap .addFieldWrap .typeButtonsWrap .typeButton.active,
.dynamicFormEditWrap .addFieldWrap .typeButtonsWrap .typeButton:hover {
  color: #fff;
  background-color: #2196f3;
}
